### Update variables WALLARM_ALB_HOST and WALLARM_ALB_PORT with real values,
### then rename this file to env.ini and execute "make all"
WALLARM_ALB_HOST=wallarm-alb.my-internal-zone.local
WALLARM_ALB_PORT=8445